<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review-About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dealership Review</a> &#9881; <a href="about">About Us</a> &#9881; <a href="contact">Contact Us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <button class="dropbtn">{{ user.username }}</button>
                    <div class="dropdown-content">
                        <a href="{% url 'djangoapp:logout' %}">Log Out</a>
                    </div>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                            <input type="password" class="form-control" placeholder="Password" name="pwd">
                            <button class="btn btn-primary" type="submit">Log In</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <h3>About Us</h3>
        <p><em class="text-uppercase">Welcome</em> to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</p>
        <p>We also consolidate reviews for other car dealerships, to help <em class="text-uppercase">you</em> find the best deals!</p>
    </div>
</body>
</html>