<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review-Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dealership Review</a> &#9881; <a href="about">About Us</a> &#9881; <a href="contact">Contact Us</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h3>Contact Us</h3>
        <table class="table table-hover">
            <tr><th>Phone Number</th><td>555-1234</td></tr>
            <tr><th>Fax Number</th><td>555-4321</td></tr>
            <tr><th>Address</th><td>123 Nonesuch Place, Fairyland, Delmarva</td></tr>
            <tr><th>Email</th><td>support@thiswebsite.not</td></tr>
        </table>
    </div>
</body>
</html>